@charset "utf-8";


/* *********************************************************************************************** */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    /* = 400 */
}

a {
    text-decoration: none;
}

/* common.css (공통을 ㅗ사용할 디자인)
************************************************************************************************* */
/* float 해제를 위한 클래서 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.container {
    background-color: #eee;
    padding: 100px 0;
    /* margin: 0 auto; */
}


.recipe {
    width: 1280px;

    /* outline: 2px solid red; */
    margin: 0 auto;
    /* background-color: bisque; */
}

.recipe .title {
    /* background-color: yellow; */
    margin-bottom: 50px;
}

.recipe .title h2 {
    font-size: 40px;

    font-weight: 700;
}

.recipe .title p {
    font-size: 20px;
    color: #555;
}


.recipe .content {
    /* background-color: greenyellow; */
}

/* 
float된 요소에 width값이 설정되지 않았을 경우, 내용만큼의 너비(width) 를 갖는다
*/


.recipe .content .box {
    /* outline: 2px solid blue; */
    float: left;
    margin-bottom: 30px;
    /* 1) 전체 공간의 1/4를 너비로 사용 */
    /* width: 25%;
    padding: 0 20px; */

    /* 2) 여백을 제외한 너비설정 */
    width: 23.5%;
    /* margin-right: 2%; */
}
/* 형제요소 선택자(~) : 첫번째 요소 제외하고 모든 형제요소 선택 */
.recipe .content .box ~ .box {
    margin-left: 2%;
}
.recipe .content .box:nth-child(4n+1) {
    margin-left: 0;
    
}


/* .recipe .content .box:first-child {
        margin-left: 0; 
}
*/

.recipe .content .box img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.recipe .content .box img:hover {
    transform: scale(1.3);
    transition: 0.7s;
}

.recipe .content .box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
}


.recipe .content .box h3 a {
    color: #333;
}
.recipe .content .box h3 a:hover {
    text-decoration: underline;
    color: red;
}

.recipe .content .box p {
    font-size: 18px;
    color: #666;
}